<section id="contact" class="call-back">
  <div class="container call-back-form">
    <img src="./images/contact-img.jpg" alt="man with phone" width="680" />
    <div class="form-callback">
      <p class="form-callback-text">Request Callback</p>
      <form>
        <div class="form-callback-input-box">
          <label for="user-name">
            <input
              class="form-callback-input"
              id="user-name"
              name="user-name"
              type="text"
              minlength="3"
              placeholder="Enter your name"
              required
            />
          </label>
          <label for="user-email">
            <input
              class="form-callback-input"
              id="user-email"
              name="user-email"
              type="email"
              minlength="3"
              placeholder="Enter email*"
              required
            />
          </label>
        </div>
        <button type="submit" class="confirm-form-send">Send</button>
      </form>
    </div>
  </div>
</section>
