<section class="section nav">
  <div class="container">
    <header class="header-page">
      <h2 class="visually-hidden">Navigation</h2>
      <nav class="site-nav">
        <a href="./index.html" class="logo-link"
          ><svg class="logotype" width="40" height="30">
            <use href="./images/icons.svg#icon-logotype"></use>
          </svg>
          <span class="accent">Finance</span> ledger</a
        >
        <ul class="site-nav-list">
          <li class="site-nav-item">
            <a href="#home" class="site-nav-link">Home</a>
          </li>
          <li class="site-nav-item">
            <a href="#about" class="site-nav-link">About</a>
          </li>
          <li class="site-nav-item">
            <a href="#cases" class="site-nav-link">Cases</a>
          </li>
          <li class="site-nav-item">
            <a href="#blog" class="site-nav-link">Blog</a>
          </li>
          <li class="site-nav-item">
            <a href="#contact" class="site-nav-link">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="hero-content">
      <h1 class="hero-title">The sky is the limit</h1>
      <p class="hero-text">We provide world class financial assistance</p>
      <button type="button" class="hero-btn">
        <svg class="hero-btn-icon" width="8" height="12">
          <use href="./images/icons.svg#icon-angle-right"></use>
        </svg>
        Read More
      </button>
    </div>
  </div>
</section>
