<section>
  <div class="container team">
    <h2 id="blog" class="team-title">
      <span class="team-top-title">Who we are</span> Our professional team
    </h2>
    <p class="team-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="our-team">
      <li class="member-card">
        <div class="thumb">
          <img
            src="./images/team-john.jpg"
            alt="Asian in black suit"
            width="420"
            class="photo-card"
          />
          <ul class="team-social-web">
            <li>
              <a href="#"
                ><svg width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="40" height="35">
                  <use href="./images/icons.svg#icon-youtube"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="31" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>

        <div class="member-description">
          <h3 class="member-name">John Doe</h3>
          <p class="member-position">President</p>
        </div>
      </li>
      <li class="member-card">
        <div class="thumb">
          <img
            src="./images/team-jane.jpg"
            alt="girl in black chair"
            width="420"
            class="photo-card"
          />
          <ul class="team-social-web">
            <li>
              <a href="#"
                ><svg width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="40" height="35">
                  <use href="./images/icons.svg#icon-youtube"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="31" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>

        <div class="member-description">
          <h3 class="member-name">Jane Doe</h3>
          <p class="member-position">Vice President</p>
        </div>
      </li>
      <li class="member-card">
        <div class="thumb">
          <img
            src="./images/team-steve.jpg"
            alt="Man in white shirt in front of laptop"
            width="420"
            class="photo-card"
          />
          <ul class="team-social-web">
            <li>
              <a href="#"
                ><svg width="35" height="35">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="35" height="35">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="40" height="35">
                  <use href="./images/icons.svg#icon-youtube"></use></svg
              ></a>
            </li>
            <li>
              <a href="#"
                ><svg width="31" height="35">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>

        <div class="member-description">
          <h3 class="member-name">Steve Smith</h3>
          <p class="member-position">Marketing Head</p>
        </div>
      </li>
    </ul>
  </div>
</section>
