<section class="section why-us">
  <div class="container flex-box">
    <h2 class="title">
      <span class="title-small">What you are looking for</span>We provide
      bespoke solutions
    </h2>
    <p class="text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button type="button" class="button-read-more">Read more</button>
  </div>
</section>
